@import "../../../styles/abstracts";

.header {
      @include position(fixed, 0, 0, null, null);
      width: 100%;
      background-color: $white;
      box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
      z-index: 1;
}