$primary_color_1: #003459;
$primary_color_2: #002A48;
$primary_color_3: #242B33;

$secondary_color_1: #F7DBA7;
$secondary_color_2: #F1D092;

$white: #fff;
$neutral: #fdfdfd;
$text: #00171F;
$black: #000000;
$body_color: #FDFDFD;
$gray_60: #667479;
$gray_20: #CCD1D2;
$gray_40: #99A2A5;

$blue: #0078CD;
$dark_blue : #00528C;
$error: #FF564F;
$success: #28a745;