@import "../../../styles/abstracts";


.btn {
      width: 100%;
      text-transform: capitalize;
      font-family: "Montserrat";
      border-radius: 5rem;
      @include flex(center, center, null, 0.6rem);

      // VARIANT
      &--default {
            @include text($neutral, 700, 1.4rem, 1);
            border: 0.15rem solid $primary_color_1;
      }

      &--primary {
            @include text($neutral, 500, 1.4rem, 1);
            border: 0.15rem solid $primary_color_2;
      }

      &--icon {
            border: 0.15rem solid $primary_color_2;
            @include text($primary_color_2, 500, 1.4rem, 1);
      }

      &--submit {
            border-radius: 0.8rem;
            border: 0.15rem solid $primary_color_1;
            @include text($body_color, 500, 1.6rem, 1);
      }

      //  SIZE
      &--small {
            padding: 1rem 2.8rem;
      }

      &--medium {
            padding: 1.2rem 2.8rem;
      }

      &--large {
            padding: 1.4rem 2.8rem;
      }

      &--circle {
            @include box(4.8rem, 4.8rem);
      }

      // COLOR
      &--main {
            background-color: $primary_color_1;
      }

      &--blue {
            background-color: $primary_color_2;
      }



      &--white {
            background-color: $white;
      }

      &:hover {
            background: $blue;
            color: $white;
            border: 0.1rem solid transparent;
      }

      &.active {
            background: $primary_color_2;
            color: $white;
      }

      &:disabled {
            color: $white;
            background: $primary_color_2;
            cursor: not-allowed;
      }

      &:focus {
            background: $dark_blue;
            color: $white;
            border: 0.1rem solid transparent;
      }

      &.disabled {
            background: $gray_20;
            color: $white;
            border: 0.1rem solid transparent;
            cursor: not-allowed;
      }

      svg {
            @include box(2rem, 2rem);
      }
}