@import "../../../styles/abstracts";

.scrollToTop {
      background-color: $primary_color_2;
      color: $white;
      border: $white 0.2rem solid;
      @include box(5.4rem, 5.4rem);
      cursor: pointer;
      @include position(fixed, null, 4rem, 4.5rem, null);
      box-shadow: 0 4px 10px rgba(12, 44, 92, 0.07);
      z-index: 10;
      border-radius: 50%;
      opacity: 1;
      transition: $hover_transition;

      svg {
            color: $white;
            @include box(2.4rem, 2.4rem);
      }

      &:hover {
            background-color: $secondary_color_1;
      }

      &:hover>svg {
            color: $white;
      }

      &.hide {
            opacity: 0;
            pointer-events: none;
      }
}